{{#foreach posts}}
{{#if featured}}
<section class="content-banner blog-banner">
  <div class="content-banner-bg" style="background-image: url({{image}})"></div>
  <div class="content-banner-hero">
    <h1><a href="{{url}}">{{{title}}}</a></h1>
    <p><a class="btn btn-white btn-outline" href="{{url}}">Read</a></p>
  </div>
</section>
{{/if}}
{{/foreach}}
