{{#foreach posts}}
{{#if featured}}
<section class="content-banner blog-banner">
  <div class="blog-banner-image" style="background-image: url({{image}})"></div>
  <div class="blog-banner-mask"><div>
    <h1><a href="{{url}}">{{{title}}}</a></h1>
    <div><a class="btn btn-white btn-outline" href="{{url}}">Read</a></div>
  </div></div>
</section>
{{/if}}
{{/foreach}}
