{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
<section class="content-banner blog-banner">
  <div class="content-banner-bg"></div>
  <div class="content-banner-hero">
    <h1>{{name}}</h1>
  </div>
</section>

{{#if bio}}
<section class="content-stripe blog-stripe" id="blog-author">
  <div>
    {{bio}}
  </div>
</section>
{{/if}}
{{/author}}

<section class="content-stripe content-stripe-white blog-stripe blog-posts-stripe" id="blog-posts"><div class="container">
{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop-filtered"}}
</div></section>
