{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
<section class="content-banner" id="blog-banner">
  <h1><small>Author:</small> {{name}}</h1>
  <div></div>
</section>
{{#if bio}}
<section class="content-stripe blog-stripe" id="blog-author"><div>
{{bio}}
</div></section>
{{/if}}
{{/author}}
<section class="content-stripe blog-stripe blog-posts-stripe" id="blog-posts"><div>
{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop-filtered"}}
</div></section>
